<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
			<div class="header-box">
        <div class="field">
          <h1>Activities</h1>
        </div>
      </div>
    </div>

  </div>

    <% @activities.each do |activity| %>
      <div class="row">
    		<div class="col-md-4">
    			<div class="box">
            <%= image_tag activity.image[:large].url(public: true) if activity.image %>
            <%= image_tag "default-image.jpg" unless activity.image %>
          </div>
        </div>
        <div class="col-md-8">
    			<div class="box">
            <h2><%= activity.title %></h2>
            <p><%= activity.description %></p>
            <% if current_user %>
              <%= link_to 'Participate', activity_path(activity), class: "btn btn-primary" %>
              <% if activity.activity_creator_id == current_user.id %>
                <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-primary" %>
                <%= link_to 'Destroy', activity, method: :delete, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
    	</div>
      <br>
    <% end %>

  </div>
